<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation" class="message">
      <strong><%=@person.errors.count%> Fehler sind/ist aufgetreten:</strong>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label  :name, "Vorname:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label  :surname, "Nachname:" %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :mail,"EMail-Adresse:" %><br />
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :phone,"Telefonnummer:" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :city,"Ort" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :address,"Adresse" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :info,"Weitere Informationen" %><br />
    <%= f.text_area :info,:rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit "Person speichern" %>
  </div>
<% end %>
